<h1>Get Employees</h1>
<div class="row mt-5">
    <div class="row w-100">
        <div class="col-md-4">
            <div class="form-group">
                <input #idEmployee type="text" class="form-control" placeholder="search id" />
            </div>
        </div>
        <div class="col-md-4 text-left">
            <button type="button" class="btn btn-outline-primary" (click)="buscar(idEmployee.value)"> Buscar </button>
        </div>
    </div>
    <div class="row" *ngIf="!loading">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Contract Type</th>
                            <th scope="col">Anual Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of employees;">
                            <td>{{e.id}}</td>
                            <td>{{e.name}}</td>
                            <td>{{e.contractTypeName}}</td>
                            <td>{{e.anualSalary | currency}}</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="employees.length===0" class="alert alert-info" role="alert">
                    <strong>No hay</strong> registros que mostrar
                </div>
            </div>
        </div>
    </div>
</div>